In [39]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [40]:
profits = []
cost = 66840
for i in range(1000):
    hens_price = np.random.choice([800,900,1000])
    cock_price = np.random.choice([1000,1100,1200])
    number_cocks = np.random.randint(15,35)
    number_hen = 100 - number_cocks
    # profit =  Revenue - Costs
    # Revenue = number_hen*hens_price + number_cocks * cock_price
    profit = (number_hen*hens_price + number_cocks * cock_price)-cost
    profits.append(profit)

In [41]:
print("Min:", np.min(profits)," Max:",np.max(profits))

Min: 16160  Max: 39960

In [42]:
clean = []
for i in profits:
    if i <= 15000:
        clean.append("10K-15K")
    elif i <= 20000:
        clean.append("15.1K -20K")
    elif i<= 25000:
        clean.append("20.1K-25K")
    elif i <=30000:
        clean.append("25.1K-30K")
    elif i <=35000:
        clean.append("30.1K-35K")
    else:
        clean.append("35.1K-40K")

In [43]:
dx = pd.DataFrame(clean,columns =["clean"])
dx['clean'] = pd.Categorical(dx.clean,categories = ["10K-15K","15.1K -20K","20.1K-25K","25.1K-30K","30.1K-35K","35.1K-40K"])
dx.head()

        clean
0   35.1K-40K
1  15.1K -20K
2   30.1K-35K
3   25.1K-30K
4   30.1K-35K

In [46]:
dt = dx.clean.value_counts().reset_index()
dt["prob"] = (dt.clean/1000)*100
dt["prob"] = [str(round(i,2))+"%" for i in dt.prob]
dt.columns = ["Profit","count","probability"]
dt.sort_values("Profit")
dt.head()

       Profit  count probability
0   25.1K-30K    252       25.2%
1   35.1K-40K    219       21.9%
2   30.1K-35K    209       20.9%
3  15.1K -20K    175       17.5%
4   20.1K-25K    145       14.5%

In [47]:
from plotnine import *

ModuleNotFoundError: No module named 'plotnine'